<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

  </body>
  <script>
    function createRefs(name) {
      return document.getElementById(name);
    }

    function scrollTo(to, duration) {
        if (duration <= 0) return;
        var difference = to - document.body.scrollTop;
        var perTick = difference / duration * 10;
        document.activeElement.blur();
        setTimeout(function() {
            document.body.scrollTop = document.body.scrollTop + perTick;
            if (document.body.scrollTop === to) return;
            scrollTo(to, duration - 10);
        }, 10);
    }

    var header = createRefs('targettable');
    var introOffset = createRefs('intro').offsetTop;
    var introButton = createRefs('introBtn');
    var aboutOffset = createRefs('about').offsetTop;
    var aboutButton = createRefs('aboutBtn');
    var clientsOffset = createRefs('clients').offsetTop;
    var clientsButton = createRefs('clientsBtn');
    var workOffset = createRefs('work').offsetTop;
    var workButton = createRefs('workBtn');
    var contactOffset = createRefs('contact').offsetTop;
    var contactButton = createRefs('contactBtn');
    window.onscroll = function() {headerScroll()};
    introButton.onclick = function(e) {e.preventDefault();scrollTo(introOffset + 5, 150)};
    aboutButton.onclick = function(e) {e.preventDefault();scrollTo(aboutOffset + 5, 150)};
    clientsButton.onclick = function(e) {e.preventDefault();scrollTo(clientsOffset + 5, 150)};
    workButton.onclick = function(e) {e.preventDefault();scrollTo(workOffset + 5, 150)};
    contactButton.onclick = function(e) {e.preventDefault();scrollTo(contactOffset + 5, 150)};

    function headerScroll() {
        if (document.body.scrollTop < aboutOffset || document.documentElement.scrollTop < aboutOffset) {
            header.classList.remove('scrolled');
            aboutButton.classList.remove('active');
            clientsButton.classList.remove('active');
            workButton.classList.remove('active');
            contactButton.classList.remove('active');
        }
        if (document.body.scrollTop > aboutOffset || document.documentElement.scrollTop > aboutOffset) {
            header.classList.add('scrolled');
            aboutButton.classList.add('active');
        }
        if (document.body.scrollTop > clientsOffset || document.documentElement.scrollTop > clientsOffset) {
            clientsButton.classList.add('active');
            aboutButton.classList.remove('active');
        }
        if (document.body.scrollTop > workOffset || document.documentElement.scrollTop > workOffset) {
            workButton.classList.add('active');
            clientsButton.classList.remove('active');
        }
        if (document.body.scrollTop > contactOffset || document.documentElement.scrollTop > contactOffset) {
            contactButton.classList.add('active');
            workButton.classList.remove('active');
        }
    }

    var reelBtn = createRefs('openReel');
    var reelCloseBtn = createRefs('closeReel');
    var reelContainer = createRefs('introPopup')
    reelBtn.onclick = function() {
      reelContainer.classList.add('open');
      reelCloseBtn.classList.add('visible');
    }
    reelCloseBtn.onclick = function() {
      reelContainer.classList.remove('open');
      reelCloseBtn.classList.remove('visible');
    }
  </script>
</html>
