<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

  </body>
  <script>
    var header = document.getElementById('header');
    window.onscroll = function() {headerScroll()};

    function headerScroll() {
        if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
            header.className = "scrolled";
        } else {
            header.className = "";
        }
    }
  </script>
</html>
